.onenews {
    border-bottom: rgb(194, 191, 191) 2px solid;
    color: orangered;
}

.onenews span {
    margin: 5px 10px;
}

.onenews .title {
    font-weight: bolder;
    font-size: large;
}

.onenews i {
    color: rgb(197, 197, 197);
}

.onenews .points {
    color: rgb(197, 197, 197);
}

.onenews .comments {
    background-color: rgb(13, 146, 230);
    color: white;
    font-weight: bold;
    font-size: smaller;
    padding: 3px;
    border-radius: 10px;
}

.onenews .brackets {
    color: black;
}